<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/loggedInFormStyles.css">
    <title>Gain Membership</title>
</head>
<body>
    <%- include( 'components/header' ) %>
    <div class="container">
        <form action="/<%= user.id %>/become-member" method="post" class="newMessageForm">
            <label>Enter Clubhouse Password: <input type="text" name="clubhousePassword"></label>
            <button type="submit">Submit</button>
        </form>
        <a href="/">Return to the Home Page</a>
    </div>
    <%- include( 'components/footer' ) %>
</body>
</html>