<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <% if ( locals.user ) { %>
        <p>Welcome, <%= user.username %>!</p>
        <a href="/<%= user.id %>/create-new-message">Create New Message</a>
        <a href="/logout">Logout</a>
    <% } else { %>
        <h1>Welcome to the home page</h1>
        <a href="/sign-up">Sign Up</a>
        <a href="/login">Login</a>
    <% } %>
</body>
</html>