@font-face {
    font-family: 'logoFont';
    src: url( './Kola-Regular.woff' ) format( 'woff' );
}

:root {
    --primaryColor: #1F6F5F;
    --secondaryColor: #6FCF97;
    --header-shadow: 0 7px 10px rgba(0, 0, 0, .4), inset 0 6px 5px #6fcf9776;
    --card-shadow: 0 7px 10px rgba(0, 0, 0, .4), inset 0 1px 5px #6fcf9776;
    --button-shadow: inset 2px 4px 6px rgba(0, 0, 0, .3), 3px 4px 6px 1px #6fcf9769;
}

body {
    background-color: #1f6f5f;
    background-image:
        url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%236fcf97' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* Header Styles */
header {
    display: flex;
    box-sizing: border-box;
    padding: 1ch 4ch;
    width: 100%;
    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur( 2px );
    color: #454040;
    box-shadow: var( --header-shadow );
}
header svg, footer svg {
    height: 3ch;
    width: 3ch;
}
header span {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'logoFont', sans-serif;
}
header nav {
    margin-left: auto;
    display: flex;
    gap: 16px;
    box-sizing: border-box;
    padding: 1ch;
    padding-right: 2ch;
    align-items: center;
}
header nav a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 4ch;
}
.newMessageForm {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    max-width: 400px;
    box-sizing: border-box;
    padding: 2ch 5ch;
    border-radius: 8px;
    justify-content: center;
    box-shadow: var( --header-shadow);
    backdrop-filter: blur( 1px );
    margin-bottom: 8px;
}
.newMessageForm h2 {
    color: var(--secondaryColor);
}
.newMessageForm label {
    font-size: 1.1rem;
    font-weight: bold;
}
.newMessageForm input, .newMessageForm textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 1ch;
    font-size: 1rem;
    border-radius: 8px;
    background-color: var( --primaryColor );
    box-shadow: var( --button-shadow );
    color: var( --secondaryColor );
    border: none;
}
.newMessageForm textarea {
    resize: vertical;
    min-height: 100px;
}
.newMessageForm input::placeholder, .newMessageForm textarea::placeholder {
    color: var( --secondaryColor );
}
.newMessageForm input:focus, .newMessageForm textarea:focus {
    outline: 2px solid var( --secondaryColor );
}
.newMessageForm button {
    padding: 1ch 2ch;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    width: 150px;
    margin-top: 8px;
    color: var(--primaryColor);
    font-weight: bold;
    border: 2px solid var( --primaryColor );
    backdrop-filter: blur( 5px );
}
.newMessageForm button:hover {
    transform: scale( 1.1 );
}


/* Footer Styles */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 2ch 1ch;
    width: 100%;
    align-items: flex-end;
    backdrop-filter: blur( 5px );
}
footer div:first-child {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .contactDiv {
    display: flex;
    padding: 2ch 0;
    gap: 5px;
}
footer div:last-child {
    box-sizing: border-box;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1ch 2ch 1ch 1ch;
    height: calc( 2ch + 4ch );
}
footer button {
    color: var(--primaryColor);
    font-weight: bold;
    border: 2px solid var( --primaryColor );
    backdrop-filter: blur( 5px );
    padding: 5px 7px;
    border-radius: 8px;
}
footer button:hover {
    transform: scale( 1.1 );
    cursor: pointer;
}